<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetaUserAddons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BetaUserAddons.Properties.Settings>
            <setting name="specUser" serializeAs="String">
                <value>Z016287;Z017855;Z017405;ARyx;Z015828</value>
            </setting>
        </BetaUserAddons.Properties.Settings>
    </userSettings>
</configuration>