<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Badger2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Badger2018.Properties.Settings>
      <setting name="TempsDemieJournee" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="TempsMinPause" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="PlageFixeMatinStart" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="PlageFixeMatinFin" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="PlageFixeApremStart" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="PlageFixeApremFin" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="First" serializeAs="String">
        <value />
      </setting>
      <setting name="ModeBadgement" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TemptBlockShutdown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Uri" serializeAs="String">
        <value />
      </setting>
      <setting name="UriParam" serializeAs="String">
        <value />
      </setting>
      <setting name="FfExePath" serializeAs="String">
        <value />
      </setting>
      <setting name="BrowserIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsAutoBadgeAtStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActionButtonClose" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowNotifEndPfMatin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotifEndPfAprem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotifEndPause" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotifEndTheo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsNotif1Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsNotif2Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notif1Time" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="Notif2Time" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="Notif1Text" serializeAs="String">
        <value />
      </setting>
      <setting name="Notif2Text" serializeAs="String">
        <value />
      </setting>
      <setting name="IsConsentUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsAutoBadgeMeridienne" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="specUser" serializeAs="String">
        <value>Z016287;Z017855;Z017405;ARyx;Z015828</value>
      </setting>
      <setting name="IsLastBadgeIsAutoShutdown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastBadgeDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsBtnManuelBadgeIsWithHotKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TempsMaxJournee" serializeAs="String">
        <value>09:30:00</value>
      </setting>
      <setting name="DeltaAutoBadgeageMinute" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UriVerif" serializeAs="String">
        <value>gv_detailBadgeage</value>
      </setting>
      <setting name="IsUseAlternateNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HeureMinJournee" serializeAs="String">
        <value>07:00:00</value>
      </setting>
      <setting name="IsStopCptAtMax" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsAdd5minCpt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDailyDisableAutoBadgeMerid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNotifWhenSessUnlockAfterMidi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TempsMaxDemieJournee" serializeAs="String">
        <value>05:30:00</value>
      </setting>
      <setting name="IsUseGeckoDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UrlMesPointages" serializeAs="String">
        <value>http://zvpw068.r12.an.cnav:7796/Pages/Espace%20RH/Mon%20Suivi%20RH/GTA/GTA_MesBageages.aspx?Rubrique=ERHMSRHMB</value>
      </setting>
      <setting name="UrlSirhius" serializeAs="String">
        <value>http://sirhius-r12.n06.an.cnav/hra-space/portal</value>
      </setting>
      <setting name="UrlCptTpsReel" serializeAs="String">
        <value>http://zvpw068.r12.an.cnav:7796/Pages/Espace%20RH/Mon%20Suivi%20RH/GTA/GTA_TpsReel.aspx?Rubrique=ERHMSRHCT</value>
      </setting>
      <setting name="IsGlobalShowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsPlaySoundAtLockMidi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SoundPlayedAtLockMidi" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="UpdateXmlUri" serializeAs="String">
        <value>E:\CSharp\Données accessoires\Badger\update.xml</value>
      </setting>
      <setting name="SoundDeviceFullName" serializeAs="String">
        <value />
      </setting>
      <setting name="TipsLastInt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowTipsAtStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SoundPlayedAtLockMidiVolume" serializeAs="String">
        <value>75</value>
      </setting>
    </Badger2018.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>